@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">');

:root{
    --branco-principal:#FFFFFF;
    --cinza-secundario:#C0C0C0C0;
    --botao-azul: #167BF7;
    --botao-azul-hover:#3c92fa;
    --cor-de-fundo:#00030C;
    --fonte-principal:"Inter";
}
*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: var(--cor-de-fundo);
    color:var(--branco-principal);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    
    
}
.principal{
    background-image: url("../assets/Background.svg");  
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;

}

.container{
    height: 100vh;
    display:grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color:var(--branco-principal);
    line-height: 150%; /* 1.5rem */
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}
.container__botao:hover{
    background-color: var(--botao-azul-hover);
    color: var(--cor-de-fundo);
}
.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}
.container__aviso{
    font-size: 0.75rem;
    color: var(--cinza-secundario);
}
.container__imagem{
    margin: 1em 0 2em 0;
}
.container__caixa{
    margin: 0 6em;
}
.secundario__imagem{
    width: 80%;
    padding: 0.65rem;
}
.secundario{
    align-items: center;
    margin-inline: 5em;
    display: flex;
    justify-content: center;
}
.descricao__titulo{
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 3.6rem */
}
.descricao__texto{
    color: var(--cinza-secundario);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
    opacity: 50;
}
.secundario__botao{
   display: inline-block; 
   margin-top: 1em;
}
.container__descricao{
    padding: 2em;
}
.ultimo{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.eletronicos{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.eletronicos__imagem{
    margin: 0.385rem 3.18rem 0.2112rem;
}
.eletronicos__texto{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    line-height: 120%;
    color: var(--branco-principal);
    padding: 2.4rem;
}
#titulo__eletronicos{
    margin-bottom: 2rem;
}
.rodape{
    text-align: center;
    margin: 5em 3em;
    
}
.rodape__logo{
    width: 6.375rem;
    height: 2.205rem;
    flex-shrink: 0;
        
}
.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 2em ;
}
.rodape__lista a:hover{
    color: var(--botao-azul);
}
.rodape__lista a:active{
    color: aqua;
}

.rodape__lista__links{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}
.rodape__texto{
    text-align: center;
    color: var(--cinza-secundario);
    margin: 1em 0;
    font-size: 14px;
}
.rodape__texto__paragrafo{
    margin: 10px;
}

